@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary-color: rgba(5, 9, 46, 0.916);
}

*{
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;

}

.container{
    background: #fff; 
    margin: 50px auto;

    max-width: 640px;
    padding: 20px;
    border-radius: 10px;
    display: block;
}

.container h1{
    margin-left: 10px;
}


.lado{
    display: inline-block;
    width: 45%;
    margin: 10px;
}
.lado p, .lado h2, h2 {
    margin: 5px;
}


form input, form label, form button{
    display: block;
    margin-bottom: 5px;
    padding-right: 0 25px;
    width: 100%;
    margin: 0 5px;
    font-size: 18px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding-right: 0 20px;
  }

form input:focus{
    outline: 1px solid var(--primary-color);
}

form button {
    background: var(--primary-color);
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover{
    background: white;
    color: var(--primary-color);
    border: 1px solid black;
}

.result{
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
}
